<%- include('partials/header') %>

    <div class="landing_page">
        <div class="nav">
            <div class="heading">
                Health_Sympto_Care
            </div>
            <div class="routes">
                <ul class="navlinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </div>
            <% if (locals.nameto) { %>
                <div class="name">
                    <%= nameto %>
                    <a href="/logout">LogOut</a>
                </div>
                <% } else { %>
                <div class="name">
                    please login
                </div>
            <% } %>
        </div>
        <div class="chk">
            <div class="guide">
                Hi&nbsp;<span> <%= nameto %> </span>&nbsp;Please Specify Your Symptoms To Analyse More
            </div>
            <div class="sypmInp">
                <label for="itemInput">ENTER SYMPTOMS: </label>
                <div>
                    <input type="text" id="itemInput" placeholder="Mention Here" />
                    <button onclick="addItem()">Add</button>
                </div>
            </div>
            <div class="chkdis">
                Get Piechart
            </div>
        </div>
    </div>

<%- include('partials/footer') %>