<%- include('partials/header') %>
    
    <div class="landing_page">
        <div class="nav">
            <div class="heading">
                Health_Sympto_Care
            </div>
            <div class="routes">
                <ul class="navlinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </div>
           <% if (locals.nameto) { %>
            <div class="name">
                <%= nameto %>
                <a href="/logout">LogOut</a>
            </div>
            <% } else { %>
            <div class="name">
                please login
            </div>
            <% } %>
        </div>

        <% if (locals.nameto) { %>
            <div class="makeThemDo">
                <a href="/healthchk">Check Disease</a>
                <a href="/helpUs">Help Us</a>
            </div>
        <% } else { %>
            <div class="makeThemDo">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        <% } %>
        <div class="drimg">
            <img src="dct.png">
        </div>
    </div>

<%- include('partials/footer') %>